.p-checkbox {
  width: 20px;
  height: 20px;
}

.p-checkbox-input {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border-color: var(--gray-4);
}

.p-checkbox-box {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 4px;
  border-color: var(--gray-4);
}

.p-checkbox::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 2px;
  opacity: 0;
  transition: var(--transition-200ms);
}

.p-checkbox.p-highlight .p-checkbox-box {
  background-color: transparent;
  border-color: var(--black);
}

.p-checkbox.p-highlight::before {
  opacity: 1;
}

.p-checkbox.p-disabled .p-checkbox-box {
  border-color: var(--gray-4) !important;
}

.p-checkbox.p-disabled::before {
  background-color: var(--gray-4);
}

.p-checkbox.p-invalid .p-checkbox-box {
  border-color: var(--red);
}

.p-checkbox.p-invalid::before {
  background-color: var(--red);
}

.p-checkbox.correct .p-checkbox-box {
  border-color: var(--green);
}

.p-checkbox.correct::before {
  background-color: var(--green);
}

.p-checkbox-box svg {
  display: none;
}