.p-dropdown {
  color: var(--gray-7);
  background-color: var(--gray-1);
  border-color: transparent;
  border-radius: var(--border-small);
}

.p-dropdown-trigger {
  color: var(--black);
}

.p-dropdown .p-dropdown-trigger svg {
  transition: var(--transition-200ms);
}

.p-dropdown .p-inputtext {
  background-color: transparent;
  border-color: transparent;
}

.p-dropdown.p-variant-filled {
  background-color: var(--violet-3);
}

.p-dropdown:hover {
  background-color: var(--gray-2);
}

.p-dropdown.p-focus.p-inputwrapper-focus {
  color: var(--black);
  border-color: var(--black);
  box-shadow: none;
}

.p-dropdown.p-focus .p-inputtext {
  color: var(--black);
}

.p-dropdown.p-invalid {
  border-color: var(--red);
}

.p-dropdown.p-invalid .p-inputtext {
  color: var(--black);
}

.p-dropdown.p-disabled {
  pointer-events: auto;
  cursor: not-allowed;
  background-color: var(--gray-1);
}

.p-dropdown.p-overlay-open .p-dropdown-trigger svg {
  transform: rotate(180deg);
}

.p-dropdown-items-wrapper {
  background-color: var(--gray-1);
  border-radius: var(--border-small);
  box-shadow: none;
}

.p-dropdown-items {
  padding: 0;
}

.p-dropdown-item {
  padding: 10px;
}

.p-dropdown-item.p-focus {
  color: var(--black);
  background-color: var(--gray-2);
}

.p-dropdown-panel {
  border: 1px solid var(--gray-4);
}

.p-dropdown-header {
  border-color: var(--gray-4);
}

.p-dropdown-header .p-dropdown-filter {
  padding: 6px 12px;
  border-color: var(--violet);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: var(--violet);
  background-color: var(--violet-3);
}