.p-selectbutton {
  display: flex;
  align-items: center;
  gap: 10px;
}

.p-selectbutton .p-button {
  color: var(--violet);
  border-radius: 6px;
  background-color: var(--gray-1);
  border: 1px solid var(--violet);
}

.p-selectbutton .p-button.p-highlight {
  color: var(--color-white);
  background-color: var(--violet);
  border-color: var(--violet);
}
